header {
	background-color: rgb(231, 231, 231);
	border-bottom: 1px solid #CCC;
}

.navbar {
	position: relative;
	height: 60px; /* 100px */
	width: 100%;
	max-width: 1900px;
	margin-left: auto;
	margin-right: auto;
}

.navbar .logo {
	text-decoration: none;
	font-size: 15px;
	float: left;
	width: 25px;
	height: 60px;
	margin: 30px;
	margin-top: 10px;
	color: rgb(58, 107, 214)
}

.navbar ul {
	float: right;
	height: 60px;
	line-height: 60px;
	margin-right: 15px;
}

.navbar ul li {
	list-style: none;
	float: left;
	margin: 0 10px;
}

.navbar li a {
	text-decoration: none;
	font-size: 14px;
	color: #555;
}

@media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
	}
}