.row .author {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	margin-left: 20px;
}

.row .author img {
	display:grid;
	width: 60px;
	height: 60px;
}

.row h3 {
	font-size: 30px;
	color:rgb(72, 130, 255);
	margin: 20px;
	font-family: 'Comic Sans MS', sans-serif;
}

.row .author p {
	font-size: 13px;
	margin-left: 10px;
	margin-right: 20px;
	font-family: 'Arial', sans-serif;
}